.TagList {
	display: flex;
	flex-wrap: wrap;
	
	&:not(:empty) {
		margin-bottom: 8px;
	}

	&__tag {
		background-color: #e4effd;
		border: 1px solid black;
		border-radius: 50px;
		color: black;
		cursor: pointer;
		margin-bottom: 8px;
		margin-right: 8px;
		padding: 6px 14px;

		&:hover {
			filter: brightness(110%);
			text-decoration: none;
		}
	}
}