.Button {
	align-items: center;
	display: flex;
	justify-content: center;
	margin: 0 0 8px;

	width: 100%;

	img, svg {
		width: 20px;
		height: auto;

		&:not(:last-child) {
			margin-right: 6px;
		}
	}

	&--danger {
		background-color: #ffbdbd;

		&:hover {
			background-color: #fbcccc;
		}
	}
}