.Button {
	align-items: center;
	display: flex;
	justify-content: center;
	margin: 0 0 8px;

	width: 100%;

	img, svg {
		margin-right: 6px;

		width: 20px;
		height: auto;
	}

	&--danger {
		background-color: #ffbdbd;

		&:hover {
			background-color: #fbcccc;
		}
	}
}