.CardList {
	align-items: flex-start;
	display: flex;
	flex-wrap: wrap;

	&--list-mode {
		align-items: stretch;

		.Card {
			border-radius: 0;
			display: flex;
			flex-basis: 100%;
			margin: 0;

			max-width: none;

			&:not(:first-child) {
				border-top: none;
			}

			&__section {
				&:not(:first-child) {
					border-left: 1px solid gray;
					border-top: none;
				}

				&:not(:last-child) {
					flex-basis: 20%;
					flex-grow: 0;
					flex-shrink: 0;
				}

				&:first-child:not(.Card__section--header) {
					flex-basis: 63px;
				}

				&.Card__section--header:not(:first-child) {
					flex-basis: calc(20% - 80px);
				}

				&:last-child {
					flex-grow: 1;
				}
			}

			p {
				-webkit-line-clamp: 2;
			}
		}
	}
}