@import "../../extras/mixins";

.CardList {
	align-items: flex-start;
	display: flex;
	flex-wrap: wrap;

	@include mobile() {
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: stretch;
	}

	&--list-mode {
		align-items: stretch;

		@include mobile() {
			flex-direction: row;
			flex-wrap: wrap;
		}
	}
}