@import "../../extras/mixins";
$gutter: 10px;

.Card {
	border: 1px solid gray;
	border-radius: 5px;
	flex-basis: 21%;
	flex-grow: 1;
	margin: 0 $gutter $gutter 0;
	overflow: hidden;

	@include desktop() {
		max-width: calc(25% - #{$gutter});

		&:nth-child(4n) {
			margin-right: 0;
		}
	}

	@include mobile() {
		margin-right: 0;
	}

	&__section {
		display: block;
		padding: 8px;

		&--header {
			background-color: rgba(0, 0, 0, 0.05);
			font-weight: 500;
		}

		&:not(:first-child) {
			border-top: 1px solid gray;
		}
	}

	p {
		display: -webkit-box;
		margin: 0;
		overflow: hidden;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 4;
	}

	&__img {
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		margin: -8px;

		width: calc(100% + 16px);
		height: 200px;
	}

	img {
		display: block;
		margin: -8px;

		width: calc(100% + 16px);
		height: auto;
	}
}

.CardList--list-mode .Card {
	border-radius: 0;
	display: flex;
	flex-basis: 100%;
	margin: 0;

	max-width: none;

	&__section--header {
		@include mobile() {
			box-sizing: border-box;
			flex-basis: 40% !important;
		}
	}

	&:not(:first-child) {
		border-top: none;
	}

	&__section {
		&:not(:first-child) {
			border-left: 1px solid gray;
			border-top: none;
		}

		&:not(:last-child) {
			flex-basis: 30%;
			flex-grow: 0;
			flex-shrink: 0;
		}

		&:first-child:not(.Card__section--header) {
			flex-basis: 63px;
		}

		&.Card__section--header:not(:first-child) {
			flex-basis: calc(30% - 80px);
		}

		&:last-child {
			flex-grow: 1;
		}
	}

	&__img {
		height: 60px;
	}

	p {
		-webkit-line-clamp: 2;
	}
}