$gutter: 10px;

.Card {
	border: 1px solid gray;
	border-radius: 5px;
	flex-basis: 21%;
	flex-grow: 1;
	margin: 0 $gutter $gutter 0;
	overflow: hidden;

	max-width: calc(25% - #{$gutter});

	&:nth-child(4n) {
		margin-right: 0;
	}

	&__section {
		display: block;
		padding: 8px;

		&--header {
			background-color: rgba(0, 0, 0, 0.05);
			font-weight: 500;
		}

		&:not(:first-child) {
			border-top: 1px solid gray;
		}
	}

	p {
		display: -webkit-box;
		margin: 0;
		overflow: hidden;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 4;
	}

	img {
		display: block;
		margin: -8px;

		width: calc(100% + 16px);
		height: auto;
	}
}