@import "../../extras/mixins";

.HomePage {
	&__toolbar {
		display: flex;
		margin-bottom: 8px;

		@include mobile() {
			flex-direction: column;
		}

		& > * {
			@include desktop() {
				flex-grow: 1;
			}

			@include mobile() {
				&:not(:last-child) {
					margin-bottom: 8px;
				}
			}
		}

		.Button {
			margin-bottom: 0;
		}
	}
}