.Navbar {
	background-color: white;
	border-bottom: 1px solid gray;
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: space-between;
	padding: 15px 30px;

	position: fixed;
	top: 0;
	left: 0;

	width: 100%;

	p {
		margin-bottom: 0;
	}
}