.OptionsWidget {
	.Modal__inner {
		width: 100%;
		max-width: 700px;
	}

	form {
		flex-direction: row;
		flex-wrap: wrap;
	}

	fieldset {
		display: inline-block;
		box-sizing: border-box;
		margin: 0;

		width: 50%;
	}
}